*{
    margin: 0;
    padding: 0;
}
.menuColorText{
    color: white;
    font-family: 'Dosis', sans-serif;
}
.banner{
    background-image: url("creativitybg.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.3);
}
.bannerSection{
    position: absolute;
    top: 200px;
}
.bannerSection h1, p, button {
    margin-top: 25px;
    line-height: 40px;
}
.bannerSection h1{ 
    color: white;
    font-family: 'Dosis', sans-serif;
}
.bannerSection p{
    font-size: 25px;
    color: white;
    font-family: 'Dosis', sans-serif;
}
.bannerSection button{
    padding: 10px 15px;
}

/* first section*/

.first{
    height: 450px;
}
.imgFirst{
    margin-top: 50px;
}
.second{
    height: 450px;
}
.second h1, p{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    line-height: 27px;
    margin: 30px 15px;
    color: black;
}
.second button{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    line-height: 27px;
    margin-left: 15px;
}

/* second section*/
.third{
    height: 450px;
    background-color: #3498db;
}
.imgSecond{
    margin-top: 50px;
}
.fourth{
    height: 450px;
    background-color: #3498db;
}
.third > h1, p{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    line-height: 27px;
    margin-left: 50px;
    margin-top: 30px;
}
.third button{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    line-height: 27px;
    margin-left: 50px;
    color: #3498db;
    background-color: white;
}
.whiteColorText{
    color: white;
}

/* thirdSection */
.thirdHeader{
    margin-top: 50px;
}
.greyColorText{
    color: #bfbfbf;
}
/* social section */
.socialContainer{
   height: 200px;
   width: 100%; 
}
.socialTabs{
    margin-top: 150px;
}
.socialIcon{
    color: #bfbfbf;
    margin: 0px 30px;
}
#s1:hover{
    color: rgb(53, 103, 228);
    transition: 0.4s ease;
}
#s2:hover{
    color: rgb(7, 64, 197);
    transition: 0.4s ease;
}
#s3:hover{
    color: rgb(159, 23, 255);
    transition: 0.4s ease;
}
#s4:hover{
    color: rgb(245, 249, 35);
    transition: 0.4s ease;
}